.wp-block-rawb-column-block  {
    background: #fff;
    border: 0.17rem dashed rgba(0, 0, 0, 0.9);
    color: #000;
    max-width: 740px;
    padding: 0.5rem;
    display: inline-block;
    width: 100%;
}
